

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#C0C0C0;
    color:#000;
    font-family:"MS Sans Serif",Arial,sans-serif;
    padding:15px;
    line-height:1.5;
}


/* Blue Title Bar */

header{
    background:#000080;
    color:white;
    padding:8px 12px;
    font-weight:bold;
    font-size:18px;
    border-bottom:1px solid black;
}

/* Navigation */

nav{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    padding:10px;
    border-bottom:1px solid gray;
}

/* Tables */

table{
    width:100%;
    border-collapse:collapse;
}

td,th{
    border:1px solid gray;
    padding:8px;
    text-align:left;
}

/* Links */

a{
    color:#0000EE;
}

a:visited{
    color:#551A8B;
}

/* Images */

img{
    max-width:100%;
    height:auto;
    
}

/* Footer */

footer{
    border-top:1px solid black;
    padding:12px;
    font-size:18px;
    background:#000080
    color:white
}

@media(max-width:600px){
body{
    padding:8px;
}
  .article-box{

display:block;

background:#000080;

margin:15px;

padding:15px;

border:2px outset white;

text-decoration:none;

color:white;

transition:.15s;

}

.article-box:hover{

background:#EFEFEF;

}

.article-box:active{

border:2px inset white;

}

.article-box h2{

font-family:"Times New Roman",serif;

margin-bottom:8px;

}

.article-box p{

margin-bottom:8px;

}
    button{

    background:#C00000;

    color:black;

    border:2px outset #E00000;

    padding:8px 16px;

}

button:active{

    border:2px inset #E00000;

}

}
